@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


html,
.corpo-lisEsp {
    height: 100%;
    margin: 0;
    padding: 0;
}


.area-LisEsp-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 201, 201, 0);
    width: 100%;
    height: 900px;
}

.b-LisEsp1 {
    position: fixed;
    top: 20vh;
    right: 91vw;
    z-index: 1;
}

.b-LisEsp1 img {
    width: 100%;
    height: auto;
}

.b-LisEsp2 {
    position: fixed;
    top: 20vh;
    left: 90vw;
    z-index: 1;
}

.b-LisEsp2 img {
    width: 100%;
    height: auto;
}

.b-LisEsp3 {
    position: fixed;
    top: 70vh;
    left: 83vw;
    z-index: 1;
}

.b-LisEsp3 img {
    width: 100%;
    height: auto;
}


.box-LisEsp-mat {
    width: 85%;
    height: 750px;
    background-color: #f8f5f6c3;
    z-index: 3;
    border-radius: 10px;
    overflow-y: auto;
    bottom: 20px;
    position: relative;
}

.box-LisEsp-mat h1 {
    margin-left: 40%;
    font-size: 30px;
    position: relative;
    top: 10px;
}

.area-pesquisa-lisEsp {
    width: 60%;
    height: 100px;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    left: 20%;
}

.area-pesquisa-lisEsp input {
    width: 70%;
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    margin-left: 5px;
    box-shadow: 5px 3px 5px rgba(32, 54, 139, 1);
}

.area-pesquisa-lisEsp button {
    background-color: rgba(32, 54, 139, 1);
    color: white;
    width: 150px;
    height: 45px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
    font-weight: 600;
}

.area-table-lisEsp {
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;

}

.table-lisEsp{
    width: 96%;
    border-collapse: collapse;
    position: relative;
    top: 20px;
    z-index: 4;
    left: 2%;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: rgba(32, 54, 139, 1);
    color: white;
}


i {
    color: #000000;
    cursor: pointer;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: rgba(233, 233, 233, 1)
}

@media screen and (max-width: 720px) {
    .area-LisEsp-principal {
        height: 650px;
    }

    .area-LisEsp-principal{
        background-color: rgba(0, 255, 255, 0);
        height: 90%;
    }

    .box-LisEsp-mat {
        width: 97%;
        height: auto;
        top: 1px;
        height: 92%;
    }

    .box-LisEsp-mat h1 {
        font-size: 26px;
        margin-left: 22%;
        position: relative;
        top: 30px;
        z-index: 5;
    }

    .b-LisEsp3 {
        top: 94vh;
    }

    .area-pesquisa-lisEsp input {
        width: 60%;
        padding: 8px;
    }

    .area-pesquisa-lisEsp {
        width: 100%;
        top: 4%;
        position: relative;
        background-color: rgba(0, 255, 255, 0);
        left: 0%;
    }

    .area-pesquisa-lisEsp button {
        width: 100px;
        height: 35px;
        font-size: 12px;
    }

    th,
    td {
        font-size: 8px;
        padding: 8px;
    }

    i {
        font-size: 10px;
        margin-left: 10px;
    }

    .box-LisEsp-mat::-webkit-scrollbar {
        width: 0px;
    }

    .table-lisEsp{
        left: 2%;
        top: 5%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .area-LisEsp-principal{
        height: 100%;
    }

    .box-LisEsp-mat{
        width: 98%;
        height: 80%;
        bottom: 50px;
    }

    .box-LisEsp-mat h1{
        margin-left: 29%;
        top: 20px;
        font-size: 35px;
    }

    .area-pesquisa-lisEsp{
        width: 80%;
        left: 10%;
        top: 3%;
    }

    .b-LisEsp3{
        top: 91vh;
    }

    .table-lisEsp{
        top: 5%;
    }

}

@media screen and (min-height: 1366px){
    .area-LisEsp-principal{
        height: 100%;
    }

    .box-LisEsp-mat{
        width: 95%;
        height: 70%;
    }
    
    .b-LisEsp3{
        top: 90vh;
    }

    .box-LisEsp-mat h1{
        font-size: 40px;
        margin-left: 30%;
        top: 30px;
    }

    .area-pesquisa-lisEsp{
        width: 80%;
        top: 35px;
        left: 10%;
    }

    .table-lisEsp{
        top: 60px;
    }

}